@import 'greensteam.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  max-width:100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#app {
  height: 100%;
  width: 100%;
  max-width:100%;
  text-align: center;
  font-size: 1em;
  background-image: url("../../assets/images/hl.svg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.loading {
  background-image: url("../../assets/images/hl-spin.svg") !important;
}

#hlv-target {
  height: 100%;
  width: 100%;
}

#interface-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  #window-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 10px;
  }
  .file-upload {
    width: 235px;
    height: fit-content;
    height: -moz-available;
    z-index: 11;
    margin: 10px;
    opacity: 1;
    transition: opacity 300ms ease;
    input {
      margin-top: 5px;
    }
    #item-list {
      overflow: auto;
      min-height: 10vh;
      max-height: 80vh;
      margin: 0 0 0;
    }
  }
}
