@import 'greensteam.css';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 1em;
}

#hlv-target {
  height: 100%;
  width: 100%;
}

#interface-container {
  display: flex;
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  #window-container {
    display: flex;
  }
  #file-upload {
    width: 235px;
    height: fit-content;
    z-index: 11;
    margin: 10px;
    opacity: 1;
    transition: opacity 300ms ease;
    input {
      margin-top: 5px;
    }
    #item-list {
      overflow: auto;
      min-height: 10vh;
      max-height: 80vh;
      margin: 0 0 0;
    }
  }
}
